.title {
    background-color: #1976d2;
    color: white;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
  }
  
  .logo{
      width: 120px;
      object-fit: contain;
  }